@page "/"

<PageTitle>FuelStation</PageTitle>

<h1>Welcome to our Fuel's Station Website</h1>

<img src="FuelStation.jpg" class="img-fluid main-img" alt="Responsive image">
<link rel="stylesheet" href="FuelStation.css" />
