@page "/manager"
@inject NavigationManager navigationManager
<h3>Manager's Ui</h3>

    <div class="row mt-5">
        <div class="col-md-1">
            <button btn btn-primary @onclick="ToCustomers">Customers</button>
        </div>
        <div class="col-md-1">
            <button btn btn-primary @onclick="ToEmployees">Employees</button>
        </div>
        <div class="col-md-1">
            <button btn btn-primary @onclick="ToItems">Items</button>
        </div>
        <div class="col-md-1">
            <button btn btn-primary @onclick="ToLedger">Ledger</button>
        </div>
    </div>

@code {      
    private void ToEmployees() {
        navigationManager.NavigateTo("employeelist");
    }
    private void ToCustomers() {
        navigationManager.NavigateTo("customerlist");
    }
    private void ToItems() {
        navigationManager.NavigateTo("itemlist");
    }
    private void ToLedger() {
        navigationManager.NavigateTo("ledger");
    }
}
