@page "/manager"
@inject NavigationManager navigationManager
<h3>ManagerUi</h3>

@*@if (isLoading) {
    <p>Loading ...</p>
}
else {*@
    <div class="row mt-5">
        <div class="col-md-1">
            <button btn btn-primary @onclick="ToCustomers">Customers</button>
        </div>
        <div class="col-md-1">
            <button btn btn-primary @onclick="ToEmployees">Employees</button>
        </div>
        <div class="col-md-1">
            <button btn btn-primary @onclick="ToItems">Items</button>
        </div>
        <div class="col-md-1">
            <button btn btn-primary @onclick="ToLedger">Ledger</button>
        </div>

    </div>
@*}
*@
@code {
    public bool isLoading { get; set; } = true;

    protected override async Task OnInitializedAsync() {
        //    await LoadItemsFromServer();
        isLoading = false;
    }
    //private async Task LoadItemsFromServer() {
    //    transactionList = await httpClient.GetFromJsonAsync<List<TransactionListDto>>("transaction");
    //}
    private void ToEmployees() {
        navigationManager.NavigateTo("employeelist");
    }
    private void ToCustomers() {
        navigationManager.NavigateTo("customerlist");
    }
    private void ToItems() {
        navigationManager.NavigateTo("itemlist");
    }
    private void ToLedger() {
        navigationManager.NavigateTo("ledger");
    }
}
