body {
    color: #414141; 
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #DDE0E3;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
       
}

a{
    color: rgb(19, 192, 169);
    text-decoration: none;
}
.nav{    

    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
  
}

h1{
    text-align: left;  
}

.content{
    width: 80%;
    margin: 0 auto;
}

div img{
    width: 300px;
    margin-top: 20px;
    
}

.article{
    display: flex;
    font-size: 16px;
    gap: 1rem;
}

h2{
    color: gray;
}

 h2{
    padding-left: 40px;
}

.side-links{
    list-style: none;
}

ol li{
   text-align: left;
   border-bottom: solid 2px rgb(221, 216, 216);
   padding-bottom: 25px;
   padding-top: 10px;

}

form{
    width: 300px;
    height: 200px; 
    font-size: 16px;    
}

form #name {
    width:480px;
    height:30px;
    border:solid 2px rgb(221, 216, 216);
    border-radius: 10px;
    margin-top: 10px;
}

form #comment{
    width:480px;
    height:50px;
    border:solid 2px rgb(221, 216, 216);
    border-radius: 10px;
    margin-top: 10px;
}

button {
    color:white;
    background-color: rgb(19, 192, 169);
    border:solid 2px  rgb(19, 192, 169);
    padding: 7px;
    border-radius: 8px;
    margin-top: 10px;
}

@media (max-width: 600px) {    
    header{flex-direction: column;justify-content:center;align-items:center;}
    .content{width:100%}
    .article { width: initial; flex-direction: column; align-items: left;} 
    form #name {width:350px;}
    form #comment {width:350px;}
}